{% extends "super.html" %}
{% block title %}
<title>Welcome {{username}}!</title>
{% endblock %}
{% block body %}
<br>
<form action="/addStory" method="POST" id="holder" name="add">
    <button type="submit" id="button" name="story" value={{username}} form="add">
            Create Your Own Story    
    </button>
</form>
<div id="smallTitle">Suggested Stories</div>
    <form action="/story" name="story" id = "menus" method="POST">
        {% for i in info1%}
                <button type = "submit" id = "hide" form ="story" name="name" value="{{info1[i][2]}}">
                    <div id="menu">info1[i][0]}} by {{info1[i][1]}}</div>
                </button>
        {% endfor %}
    </form>
<br>
<div id="smallTitle">Your Stories</div>
    <form action="/story" name="story2" id = "menus" method="POST">
        {% for i in info2%}
                <button type = "submit" id = "hide" form ="story2" name="name" value="{{info2[i][2]}}">         
                    <div id="menu"><i>{{info2[i][0]}}</i> by {{info2[i][1]}}</div>
                </button>
        {% endfor %}
    </form>
        <form action="/logout" method="POST" id="holder2" name="log">
                <button type="submit" id="button2" name="logout" value={{username}} form="log">
                    Log Out    
            </button>
        </form>
{% endblock %}