{% extends "super.html" %}
{% block title %}
    Welcome, {{username}}!
{% endblock %}
{% block body %}
<h1 id="smallTitle">Suggested Stories</h1>
    <form action="/story" name="story" id = "menus">
        {% for i in info1%}
                <button type = "submit" id = "menu" form ="story" name="name" value={{info[i][2]}}>         
                    {{info[i][0]}} by {{info[i][1]}}
                </button>
        {% endfor %}
    </form>
<h1 id="smallTitle">Your Stories</h1>
    <form action="/story" name="story2" id = "menus">
        {% for i in info2%}
                <button type = "submit" id = "menu" form ="story2" name="name" value={{info[i][2]}}>         
                    {{info[i][0]}} by {{info[i][1]}}
                </button>
        {% endfor %}
    </form>
{% endblock %}