{% extends "super.html" %}
{% block title %}
<title>{{Title}}</title>
{% endblock %}
{% block body %}
    <div id="container">
        <br>
        <div id="smallTitle">{{Title}}</div>
        <p id="storyText">
            {{storyText}}
        </p>
	<p> {{message}} </p>
            <form action = "/addContribution" name = "add" method = "POST">
                {{title}}
                {{storyText}}
                <input type="hidden" name="name" value="{{Title}}">
                Add the following to the story:<input type ="text" name="storypart"> 
                <button type = "submit" name = "id" id = "button" value="{{Title}}">Add Text</button>
            </form>
        <form action="/home" method="POST" id="holder2" name="add">
                <button type="submit" id="button2" name="story" value={{username}}>
                    Home  
            </button>
        </form>

</div>
    
{% endblock %}
