{% extends "super.html" %}
{% block title %}
<title>{{Title}}</title>
{% endblock %}
{% block body %}
    <div id="container">
        <br>
        <div id="smallTitle">{{Title}}</div>
        <p id="storyText">
            {{storyText}}
        </p>
	<p> {{message}} </p>
        {{% if mine %}}
            <form action = "/addContribution" name = "add" method = "POST">
                <input type="hidden" name="name" value="{{Title}}">
                <textarea name="storypart" maxlength="200" rows="5" cols="32" placeholder="Feel free to add text here" id="textbox"></textarea>
                <br>
                <button type = "submit" name = "id" style="margin-left: 3%;" id = "button" value="{{Title}}">Add Text</button>
                <br>
            </form>
        {{% endif %}}
        <form action="/home" method="POST" id="holder2" name="add">
                <button type="submit" id="button2" name="story" value={{username}}>
                    Home  
            </button>
        </form>

</div>
    
{% endblock %}
