{% extends "super.html" %}
{% block title %}
    <title>Login</title>
{% endblock %}
{% block body %}
    <form id="log" action="/authenticate" method="POST">
        <div id="form1">
            Username <input type="text" name="user">
        </div>
        <div id="form1">
            Password <input type="password" name="password">
        </div>
        <div id="buttons">
            <button type="submit" id="button" form="log" name="submit" value="log">
                Login
            </button>
            <button type="submit" id="button" form="log" name="submit" value="reg">
                Register
            </button>
        </div>
    </form>
{% endblock %}