{% extends "super.html" %}
{% block title %}
<title>{{Title}}</title>
{% endblock %}
{% block body %}
    <div id="container">
        <div id="smallTitle">{{Title}}</div>
        <p id="storyText">
            {{storyText}}
        </p>
	<p> {{message}} </p>
            <form action = "/addstory" name = "add" method = "POST">
                Title: <input type ="text" name="title"><br>
                <c><textarea name="storypart" maxlength="200" rows="5" cols="32" placeholder="Feel free to add text here" id="textbox"></textarea>
                </c>
                <br>
                <button style="margin-left: 3%;" type = "submit" name = "id" id = "button" value={{Title}}>Add Text</button>
            </form>
        <form action="/home" method="POST" id="holder2" name="add">
                <button type="submit" id="button2" name="story" value={{username}}>
                    Home    
            </button>
        </form>

</div>
    
{% endblock %}
