{% extends "super.html" %}
{% block title %}
<title>{{Title}}</title>
{% endblock %}
{% block body %}
    <div id="container">
        <div id="smallTitle">{{Title}}</div>
        <p id="storyText">
            {{storyText}}
        </p>
        {% if joined and turn %}
            <form name="add" method="POST">
                <input type="text" name="storyPart" id="addText"> 
            </form>
                <button type="submit" name="id" action="/storyAdd" id="submitter" form="add" value={{storyID}}>Add Text</button>
        {% endif %}
        {% for comment in comments %}
            <div id="comment">{{comment}}</div>
        {%endfor}
        {% if joined}
            <form name="add" method="POST">
                <input type="text" name="comment" id="addComment"> 
            </form>
                <button type="submit" name="id" action="/commentAdd" id="submitter" form="add" value={{storyID}}>Add Comment</button>
        {% endif %}
</div>
    
{% endblock %}