{% extends "super.html" %}
{% block title %}
<title>{{Title}}</title>
{% endblock %}
{% block body %}
    <div id="container">
        <div id="smallTitle">{{Title}}</div>
        <p id="storyText">
            {{storyText}}
        </p>
	<p> {{message}} </p>
            <form action = "/add_story" name = "add" method = "POST">
                Title: <input type ="text" name="storypart">
                Add the following to the story:<input type ="text" name="storypart"> 

                <button type = "submit" name = "id" id = "button" value={{Title}}>Add Text</button>
            </form>

</div>
    
{% endblock %}
